@{
    ViewBag.Title = "Confirmation email sent";
    Layout = "~/Areas/UserManagementUI/Views/Shared/_AccountPartialLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>An email message has been sent to your email. Please check it now in order to reset your password. Thank you.</h3>
</hgroup>
