<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="testkey" value="configuration data"/>
    <add key="ContainerHost" value="c:\proximex\appdata"/>
    <add key="DefaultBusConnection" value="Memory"/>
    <add key ="LocalFileMirror" value="TargetFolder=wfplugins;TargetPath=c:\proximex\appdata;SourcePath=c:\proximex\appdata;"/>
    <add key ="ClassLogging" value="all"/>
    <add key ="log4net.Config" value="log4net.config"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Queues" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
</configuration>