<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="DefaultStorageConnection" value="file://C:\Blackhawk\Blackhawk\Trunk\Server\ControlCenter\"/>
    <add key="DefaultBusConnection" value=""/>
    <add key="UnusedExpirationSeconds" value="60"/>
    <add key="DefaultDataDatabase" value="Shrike"/>
    <add key="DefaultDataUser" value="Admin"/>
    <add key="DefaultDataPassword" value="b1f08cc1-7130-49d4-bffa-cd1211d2a743"/>
    <add key="DefaultDataConnection" value="http://localhost:8080"/>
  </appSettings>
</configuration>
