@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShrikePartialLayout.cshtml";
}

<div id="left-container">
   
</div>
<div id="central-container">
    
</div>
<div id="right-container">
    
</div>
