
<div id="tab1">
    <div id="tab1-content" class="dr-tagger-container" >
        <label>Name Item:</label><label id="name-Passcode"></label><br />
    </div>
</div>
<div id="tab2">
    <div id="tab2-content" class="dr-tagger-container" >
    </div>
</div>
<div id="tab3">
    <div id="tab3-content" class="dr-tagger-container" ></div>
</div>