<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="TrackerHost" value="192.168.0.101" />
    <add key="TrackerPort" value="12345" />
    <!--<add key="TrackerTorrentFolder" value="c:\windows\temp\torrents" />
    <add key="DownloadFolder" value="c:\windows\temp\downloads" />-->
    <add key="TrackerTorrentFolder" value="C:\Users\Rory\Documents\Visual Studio 2010\Projects\workspace\Blackhawk\Trunk\Server\ControlCenter\torrents" />
    <add key="DownloadFolder" value="C:\Users\Rory\Documents\Visual Studio 2010\Projects\workspace\Blackhawk\Trunk\Server\ControlCenter\Apps" />
    
    <add key="ClientPeerPort" value="54321" />
    <add key="TrackerFactoryClass" value="TACMonotorrent.TrackerFactory, TACMonotorrent" />
    <add key="TorrentCreatorClass" value="TACMonotorrent.TorrentCreator, TACMonotorrent" />
    <add key="TorrentClientManagerClass" value="TACMonotorrent.TorrentClientManager, TACMonotorrent" />
  </appSettings>  
</configuration>
