@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Shrike.Areas.UserManagementUI.UserManagementUI.Models.TestEmailServer

@{
    Layout = null;
}

@using (Html.BeginForm("TestEmailServer", "Deployment", FormMethod.Post, new { id = "testEmail-form" }))
{
    @Html.ValidationSummary(true)
    <div class="test-email-row">
        <div class="editor-label width-30">
            @Html.Label("Send Email To:", new { @class = "text-align-left" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TestEmailAddress)
            @Html.ValidationMessageFor(m => m.TestEmailAddress, "*")
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function() {
        window.jQuery.validator.unobtrusive.parse("#testEmail-form");
    });

    function ValidateForm() {
        var emailToSendValid = $("#testEmail-form").valid();
        var testValuesValid = $("#formDevices").valid();

        return emailToSendValid && testValuesValid;
    }
</script>
