<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClassLogging" value="all" />
    <add key="AppBuildVersion" value="Version 1.0.0.0" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultDataDatabase" value="Shrike" />
    <add key="DefaultDataUser" value="Admin" />
    <add key="DefaultDataPassword" value="b1f08cc1-7130-49d4-bffa-cd1211d2a743" />
    <add key="DefaultDataConnection" value="http://localhost:8080" />
    <!--<add key="TakeOwnershipPassCode" value="e0642097-7d56-49a8-a25e-316beb5feebf" />-->
    <add key="TakeOwnershipPassCode" value="LokSysOwnerShip-2014" />
    <!--<add key="TakeOwnershipPassCode" value="passcode" />-->
    <add key="AuthCodeSecret" value="secret" />
    <add key="DefaultStorageConnection" value="" />
    <add key="DefaultBusConnection" value="" />
    <add key="StoreType" value="ApplicationRoot" />
    <add key="UnusedExpirationSeconds" value="60" />
    <!-- IFilesContainer substorages -->
    <add key="DistributedFileShare" value="C:\Lok\AppData" />
    <add key="ContentFilesContainer" value="ContentFiles" />
    <add key="ContentLibrariesContainer" value="Libraries" />
    <add key="ContentPackagesContainer" value="Packages" />
    <add key="ApplicationContainer" value="Applications" />
    <add key="PreLoadedContainer" value="Preloaded" />
    <add key="RolesSpecConfiguration" value="RolesSpec" />
    <add key="NavigationConfig" value="Navigation" />
    <add key="EnableControlNumberOfTagsValidation" value="false" />
    <!--Retrieves more than 128 Documents from RavenDB-->
    <add key="RavenMaxPageSize" value="1024" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>